<%- include('../partials/head') %>
  </head>
  <body>
      <%- include('../partials/nav') %>
     <main class="container mx-auto bg-gray-800 shadow-lg rounded-lg p-8 mt-10 max-w-6xl animate-none ">
          <h2 class="text-3xl text-red-500 font-bold text-center mb-6">
              Details of <%= home.houseName %>
          </h2>
          
          <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
              <div class="rounded-lg overflow-hidden">
                  <img src="<%= home.photoUrl %>" alt="<%= home.name %>" class="w-full h-96 object-cover">
              </div>
              
              <div class="space-y-6">
                  <div class="border-b pb-4">
                      <h3 class="text-2xl font-semibold mb-2 text-white">Description</h3>
                      <p class="text-white"><%= home.description %></p>
                  </div>

                  <div class="border-b pb-4">
                      <h3 class="text-2xl font-semibold mb-2 text-white">Location</h3>
                      <p class="text-white"><%= home.location %></p>
                  </div>
                  
                  <div class="border-b pb-4">
                      <h3 class="text-2xl font-semibold mb-2 text-white">Price</h3>
                      <p class="text-green-600 text-xl font-bold">$<%= home.price %> / night</p>
                  </div>
                  
                  <div class="border-b pb-4">
                      <h3 class="text-2xl font-semibold mb-2 text-white">Rating</h3>
                      <div class="flex items-center">
                          <span class="text-yellow-400 text-xl">★</span>
                          <span class="ml-2 text-lg text-yellow-400"><%= home.rating %> / 5</span>
                      </div>
                  </div>
                  <div class="mt-2">
                    <%- include('../partials/favourite') %>
                  </div>
              </div>
          </div>
      </main>
  </body>
</html>