<%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <main class="container mx-auto bg-gray-800 shadow-lg rounded-lg p-8 mt-10 max-w-6xl animate-none ">
      <h1 class="text-3xl font-bold mb-6 text-center text-red-800 animate-pulse"><%= editing ? "Edit" : "Register"%> Your Home on AirBnB</h1>
      <form action="/host/<%= editing ? "edit-home" : "add-home"%>" method="POST" class="max-w-md mx-auto">
        <input type="hidden" name="id" value="<%= editing ? home._id : ''%>" />
        <input
          type="text"
          name="houseName"
          value="<%= editing ? home.houseName : ''%>"
          placeholder="Enter your House Name"
          class="w-full px-4 py-2 mb-4 border-2 border-white placeholder-white text-white rounded-md focus:outline-none focus:ring-2 focus:ring-white"/>
        <input
          type="text"
          name="price"
          value="<%= editing ? home.price : ''%>"
          placeholder="Price Per Night"
          class="w-full px-4 py-2 mb-4 border-2 border-white placeholder-white text-white rounded-md focus:outline-none focus:ring-2 focus:ring-white"/>
        <input
          type="text"
          name="location"
          value="<%= editing ? home.location : ''%>"
          placeholder="Location"
          class="w-full px-4 py-2 mb-4 border-2 border-white placeholder-white text-white rounded-md focus:outline-none focus:ring-2 focus:ring-white"/>
        <input
          type="text"
          name="rating"
          value="<%= editing ? home.rating : ''%>"
          placeholder="Rating"
          class="w-full px-4 py-2 mb-4 border-2 border-white placeholder-white text-white rounded-md focus:outline-none focus:ring-2 focus:ring-white"/>
        <input
          type="text"
          name="photoUrl"
          value="<%= editing ? home.photoUrl : ''%>"
          placeholder="Enter Photo URL"
          class="w-full px-4 py-2 mb-4 border-2 border-white placeholder-white text-white rounded-md focus:outline-none focus:ring-2 focus:ring-white"/>
        <textarea
          name="description"
          placeholder="Describe your Home"
          class="w-full px-4 py-2 mb-4 border-2 border-white placeholder-white text-white rounded-md focus:outline-none focus:ring-2 focus:ring-white"><%= editing ? home.description : ''%></textarea>
        <input 
          type="submit" 
          value="<%= editing ? 'Update Home' : 'Add Home' %>" 
          class="w-full bg-red-500 text-white py-2 rounded-md border-2 border-gray-800 hover:bg-red-600 transition duration-300 transform hover:scale-105 hover:shadow-lg" 
        />
      </form>
    </main>
  </body>
</html>